body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.matched {
  background-color: aqua;
}

$ident: 1em;
$left: -($ident);
$tree-guide-color: #444;
$tree-guide-widht: 2px;

ul {
  margin-left: $ident;
  }

li {
  list-style-type: none;
  position: relative;
  margin: 0em;
  &:before {
    content: "";
    position: absolute;
    top: 0em;
    left: $left;
    border-bottom: calc($tree-guide-widht / 2) solid $tree-guide-color;
    width: $ident;
    height: 1em;
  }

  &:first-of-type:before {
    border-left: $tree-guide-widht solid $tree-guide-color;
  }

  &:after {
    content: "";
    position: absolute;
    top: 1em;
    left: $left;
    border-left: $tree-guide-widht solid $tree-guide-color;
    border-top: calc($tree-guide-widht / 2) solid $tree-guide-color;
    width: $ident;
    height: 100%;
  }

  &:last-child:after {
    height: 0;
  }

  &:not(ul > li) {
    &:after, &:before {
      display: none;
    }
  }
}

.collapse-switch {
  cursor: pointer;
  margin-left: 0.5em;
  border-radius: 0.5em;
  transition: 0.3s;
  &:hover {
    outline: 2px solid gray;
    outline-offset: -2px;
  }
}

.expand-on {
  transform: rotate(90deg);
}